#city-input {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}

#searchButton {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}

#currentButton {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}
